<%= stylesheet_link_tag "application" %>
<div class="ui container">
  <h1 class="ui header"><%= current_user.id ? 'Edit Bio' : 'Create Bio' %></h1>
    <%= form_for @bio do |f| %>
      <div class="ui form" id="trip_form">
        <%= f.label :description %>
        <%= f.text_area :description %>
        <%= f.submit nil, class: "ui button primary" %>
    </div>
  <% end %>
</div>
